
html, body {
    background: #a9d7d1;
    font-family: Helvetica, sans-serif;
    text-align: center;
    min-width: 260px;
}

.container {
    background: white;
    margin: 30px auto;
    padding: 20px;
    width: 72%;
}

#subheader {
    margin-bottom: 25px;
}
form {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr .5fr;
    grid-gap: 16px;
}

label {
    grid-column: 1 / 2;
    text-align: right;
    padding: 12px;
}

input[type="text"], #role-input, #likes-input{
    grid-column: 2 / 3;
    width: 100%;
    margin-bottom: 10px;
}

#role-input, #likes-input {
    width: 40%;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#radio-buttons, #check-buttons {
    vertical-align: top;
    text-align: left;
}

input[type="checkbox"], input[type="radio"] {
    margin-bottom: 10px;
}

#comments {
    margin-top: 20px;
}

#comments > input {
    height: 60px;
    width: 60%;
}
